<html lang="ru">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!--Bootstrap css-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>

  <nav class="navbar fixed-top" >
  <ul class=" nav nav-tabs fixed-top scrolling" >

      `
    {% if request.user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'core:task' %}">Мои задания</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" href="{% url 'core:logout' %}">Logout</a>
          </li>
    {% else %}
      <li class="nav-item">
            <a class="nav-link" href="/core/signup/">Регистрация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/core/login/">Login</a>
          </li>
          {% endif %}
  </ul>
  </nav>
</head>
  <br><br>
  {% block content %}
  {% endblock %}
</html>