{% extends 'base.html' %}



{% block content %}

      <div class="row justify-content-end">
    <div class="col-10 text-center">
        <h2><br>Регистрация</h2>
    </div>
<div class="col-md-6">
    <form method="post" class="form">

        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.email.label }}
                {{ form.email }}
            </div>
            <div class="form-group col-md-6">
                {{ form.username.label }}
                {{ form.username }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <i class="white-text active">{{ form.password1.label }}</i>
                {{ form.password1 }}
            </div>
            <div class="form-group col-md-6">
                {{ form.password2.label }}
                {{ form.password2 }}
            </div>
        </div>

        <button class="mt-5 mb-5 align-self-center mt-5 mb-5 btn btn-primary" type="submit">SEND</button>


    </form>
</div>
</div>


  </form>
{% endblock %}