{% extends 'base.html' %}



{% block content %}


<form method="post" class="form">
        {% csrf_token %}
            <div class="form-group col-md-6">
                {{ form.title.label }}
                <div class="form-inline">
                <p>{{ form.title }}
                    <button class="align-self-center mt-5 mb-5 btn btn-primary" type="submit">New</button>

                    <a href="{% url 'core:task' param='dell' %}" class="btn btn-secondary btn-sm" role="button">Удалить выполненные</a></p>
                </div>
                </div>

</form>


{% for task in tasks %}

    <p>{{ task.title }}
        {% if task.done == False %}
        <a href="{% url 'core:task' task_id=task.id %}" class="btn btn-secondary btn-sm" role="button" >Выполнить</a>
        {% else %}
        <a href="" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">Выполнено</a>
        {% endif %}
    </p><br>

{% endfor %}


{% endblock %}